.loadingContainer {
	overflow: hidden;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 8rem;
	height: 100%;
	width: 100%;
	transition: var(--duration-fast);
}

.loadingAnimation {
	display: flex;
	justify-content: center;
	align-items: center;
}

.circle {
	position: absolute;
	border-radius: 50%;
	filter: brightness(98%);
}

.circle1 {
	background-color: var(--accent-color-primary);
	opacity: 0.5;
	width: 80px;
	height: 80px;
	animation: orbit1 12s linear infinite;
}

.circle2 {
	background-color: var(--accent-color-secondary);
	opacity: 0.5;
	width: 60px;
	height: 60px;
	animation: orbit2 6s linear infinite;
}

.circle3 {
	background-color: var(--accent-color-tertiary);
	opacity: 0.5;
	width: 40px;
	height: 40px;
	animation: orbit3 4s linear infinite;
}

@keyframes orbit1 {
	0% {
		transform: rotate(0deg) translateX(40px); /* Half of width/height for circle1 */
	}
	100% {
		transform: rotate(360deg) translateX(40px);
	}
}

@keyframes orbit2 {
	0% {
		transform: rotate(0deg) translateX(30px); /* Half of width/height for circle2 */
	}
	100% {
		transform: rotate(360deg) translateX(30px);
	}
}

@keyframes orbit3 {
	0% {
		transform: rotate(0deg) translateX(20px); /* Half of width/height for circle3 */
	}
	100% {
		transform: rotate(360deg) translateX(20px);
	}
}
