.main {
	max-width: var(--max-width);
}

.banner {
	display: flex;
	flex-direction: column;
	border-bottom: var(--border-primary);
	gap: var(--space-small);
}

.bannerUpper {
	width: 100%;
	align-items: center;
	display: flex;
	justify-content: space-between;
}
.bannerInner {
	width: 100%;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}
.bannerLeft {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.bannerRight {
	margin: auto 0;
}

.bannerTitle {
	font-weight: 300;
	font-size: var(--font-size-title);
	border-bottom: var(--border-primary);
	border-width: 2px;
	margin-bottom: 1px;
	padding: 0 var(--space-medium) var(--space-gutter) 0;
}

.underBanner {
	padding: var(--space-gutter) 0;
	display: flex;
	justify-content: space-between;
	gap: var(--space-gutter);
	flex-wrap: wrap;
}
.underBannerLeft {
	display: flex;
	gap: var(--space-small);
	flex-wrap: wrap;
}

.body {
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 100%;
	max-width: var(--max-width);
	height: 100%;
}

.display {
	height: max-content;
	width: 100%;
}

.footer {
	display: flex;
	flex-direction: column;
}
