@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* Spaces */
	--max-width: 1200px;
	--space-medium: 2rem;
	--space-gutter: 1rem;
	--space-small: 0.5rem;
	--space-tiny: 0.1rem;

	/* Shapes */
	--border-radius: 12px;
	--border-radius-small: 8px;
	--border-radius-tiny: 6px;
	--border-radius-boxcorner: 2px;

	/* Colors */
	--color-primary-primary: #191b1d;
	--color-primary-secondary: #6f6f6f;
	--color-primary-tertiary: #c7c7c7;

	--color-secondary-primary: white;
	--color-secondary-secondary: #333;

	--color-background-primary: #f4f4f4;
	--color-background-secondary: white;
	--color-background-tertiary: #191b1d;

	--accent-color-success: #3ad59f;
	--accent-color-failure: #d53369;
	--accent-color-warning: #daae51;

	--accent-color-primary: #b0f4ee;
	--accent-color-secondary: #fbde8c;
	--accent-color-tertiary: #f0bff8;

	/* Alternate to try */
	/* --accent-color-primary: #759cbe;
	--accent-color-secondary: #e5d8a1; */

	--accent-gradient-primary: linear-gradient(
		160deg,
		#d53369 0%,
		#daae51 100%
	);
	--accent-gradient-secondary: linear-gradient(
		120deg,
		#f8ff00 0%,
		#3ad59f 100%
	);
	--accent-gradient-tertiary: linear-gradient(
		120deg,
		#e66465 0%,
		#9198e5 100%
	);

	/* Typography */
	--font-family-primary: "Nunito Sans", sans-serif;
	--font-family-secondary: "Graphik LCG";
	--font-family-numerals: "Miltonian", serif;

	--font-size-big: 6rem;
	--letter-spacing-big: -0.5rem;

	--font-size-title: 2rem;
	--letter-spacing-title: 0.05rem;

	--font-size-subtitle: 1rem;
	--letter-spacing-subtitle: 0.025rem;

	--font-size-header: 1.25rem;

	--font-size-body: 1rem;
	--letter-spacing-body: 0.04rem;

	--font-size-body-small: 0.75rem;
	--letter-spacing-body-small: 0.04rem;

	/* Effects */
	--box-shadow-highlight: 1px 0px 5px #cdcecf;
	--box-shadow-bar: 0px 5px 0px rgba(0, 0, 0, 0.05);
	--box-shadow-card: 5px 5px 0px rgba(0, 0, 0, 0.08);
	--box-shadow-card-pressed: 3px 3px 0px rgba(0, 0, 0, 0.08);
	--duration-fast: 0.3s;
	--translate-card-hover: translate(-2px, -2px);
	--translate-card-pressed: translate(2px, 2px);

	/* Borders */
	--border-quiet: 1px solid var(--color-primary-secondary);
	--border-primary: 1px solid var(--color-primary-primary);
	--border-secondary: 1px solid var(--color-primary-secondary);
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;

	-ms-overflow-style: none;
	scrollbar-width: none;
}
::-webkit-scrollbar {
	display: none; /* for Chrome, Safari, and Opera */
}

html,
body {
	@apply bg-[var(--color-background-primary)] w-full h-full;
}

a {
	@apply no-underline;
}

/* Font styles */
.text-style-bodySmall {
	@apply font-normal text-body-small tracking-body-small;
}

.text-style-body {
	@apply font-normal text-body tracking-body;
}

.text-style-button {
	@apply text-body-small font-subtitle tracking-subtitle;
}

.text-style-subtitle {
	@apply text-subtitle font-subtitle tracking-subtitle;
}

.text-style-title {
	@apply text-title font-title tracking-title;
}

.text-style-romanNumeral {
	@apply leading-none text-title font-nothingYouCouldDo;
}
