.headerCard {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.title {
	width: max-content;
	border-bottom: var(--border-primary);
	display: flex;
	align-items: center;
	padding: var(--space-small) 0;
	padding-right: var(--space-small);
}
.titleWrapper {
	padding-bottom: 1px;
	border-bottom: var(--border-primary);
}

.content {
	padding: var(--space-gutter) 0;
	display: flex;
	flex-direction: column;
	gap: var(--space-gutter);
}
