.card {
	border: var(--border-primary);
	border-radius: var(--border-radius-boxcorner);
	border-width: 1px 1px 1px 10px;
	box-shadow: var(--box-shadow-card);
}

.card::before {
	background-color: rgba(255, 255, 255, 0.5); /* translucent white overlay */
}

.card:hover {
	transform: var(--translate-card-pressed);
	box-shadow: var(--box-shadow-card-pressed);
	transition: var(--duration-fast);
	cursor: pointer;
	background-color: var(--accent-color);
}

.cardInner {
	border: var(--border-primary);
	border-top: 0;
	border-bottom: 0;
	padding: var(--space-gutter);
	margin: 0 0.5rem;
	background-color: var(--color-background-secondary);
}
