.container {
	width: 100%;
	height: min-content;
	display: grid;
	grid-template-columns: repeat(8, minmax(50px, 1fr));
}

.keySpaceName {
	font-size: clamp(0.5rem, 1.5vw, 1.2rem);
	font-weight: 400;
	border-right: var(--border-primary);
	padding: var(--space-gutter) 0;
	padding-left: var(--space-gutter);
}

.childShapeItem {
	font-size: clamp(0.5rem, 1vw, 1.2rem);
	display: flex;
	align-items: center;
	justify-content: center;
}
