.header {
	width: 100%;
	border-bottom: 1px solid var(--color-secondary-primary);
	padding: var(--space-small) 0;
}
.headerInner {
	width: 100%;
	max-width: var(--max-width);
	margin: auto;
	display: flex;
	justify-content: space-between;
	padding: 0 var(--space-gutter);
	align-items: center;
}

.headerLeft {
	display: flex;
	gap: var(--space-gutter);
	align-items: center;
}
.headerRight {
	display: flex;
	align-items: center;
}
.brandText {
	display: flex;
	font-size: var(--font-size-body) !important;
	font-weight: 400;
}
.separator {
	font-size: var(--font-size-header);
	color: var(--color-secondary-primary);
}
.title {
	font-weight: 200;
	font-size: var(--font-size-body);
	color: var(--color-primary-secondary);
}
