.container {
	display: grid;
	grid-template-areas: 1fr max-content;
}

.label {
	text-align: center;
	font-weight: 300;
	font-family: var(--font-family-primary);
	color: var(--color-primary-secondary);
}

.sublabel {
	text-align: center;
	font-weight: 300;
	font-family: var(--font-family-primary);
	color: var(--color-primary-secondary);
}
