.infoBox {
	border-radius: var(--border-radius-tiny);
}

.header {
	font-weight: 300;
	font-size: var(--font-size-body);
	padding: 0.5rem 0;
}

.body {
	border-radius: var(--border-radius-boxcorner);
	border: var(--border-quiet);
	padding: var(--space-small);
}
